language: node_js
node_js:
  - node

before_install:
  # package-lock.json was introduced in npm@5
  - npm install -g npm@5
  - npm install -g greenkeeper-lockfile@1
before_script: greenkeeper-lockfile-update
after_script: greenkeeper-lockfile-upload

install:
  - npm install
script:
  - npm run test
  - npm run coveralls
